:root {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;

	--accent-color: #2196f3;

	--title-color: #212121;
	--text-color: #757575;
}

body {
	font-family: "Roboto", sans-serif;
	padding-top: 80px;
}

/* font-family: 'Raleway',
sans-serif;

font-family: 'Roboto',
sans-serif; */

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding: 94px 0;
}
/* ________________Home page________________ */

/* ________________Header________________  */
.header {
	border-bottom: 1px solid #ececec;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}
.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

.logo-link {
	color: var(--title-color);
	font-family: "Roboto", Arial, sans-serif;
	text-decoration: none;
}

.header-menu {
	display: flex;
	align-items: center;
	margin-left: 93px;
}

.header-menu-item:not(:last-child) {
	margin-right: 50px;
}

/* .header-menu .item + .item {
	margin-left: 50px;
} */

.contacts {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-menu-link.curent {
	color: var(--accent-color);
}

/* .contacts .contacts-item + .contacts-item {
	margin-left: 50px;
} */

.contacts {
	gap: 50px;
}

.logo-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--title-color);
	letter-spacing: 0.03em;
	text-decoration: none;
}

.logo-accent {
	color: var(--accent-color);
}
.header-menu-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	list-style: none;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
	color: var(--accent-color);
}

.contacts-link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--text-color);
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	column-gap: 10px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
	fill: var(--accent-color);
}

.contacts-icon {
	margin: 0;
	padding: 0;

	fill: var(--text-color);
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
	fill: var(--accent-color);
}

/* ________________подчеркивание раздела меню________________ */

.header-menu-item {
	position: relative;
}
.header-menu-link::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 4px;
	background: #2196f3;
	border-radius: 2px;

	opacity: 0;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: scaleX(0);
	transform-origin: top left;
}
.header-menu-link.curent::after {
	opacity: 1;
	transform: scaleX(1);
}
.header-menu-link:hover::after {
	opacity: 1;
	transform: scaleX(1);
	background: var(--accent-color);
}

/* ________________Hero section________________  */
.hero {
	padding: 200px 0;
	background-color: #2f303a;
	background-image: linear-gradient(
			to top,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/hero.jpeg);
	max-width: 1600px;

	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	text-align: center;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;

	margin-bottom: 30px;
}

.hero__btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	margin-top: 30px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	letter-spacing: 0.06em;

	color: #ffffff;

	width: 260px;
	height: 50px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	border: none;

	cursor: pointer;
	overflow: hidden;
}
.hero__btn::before {
	content: "";
	display: block;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	margin-right: 15px;
	background-image: url(../images/Icon/Mail.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover::before {
	transform: translateY(-40px);
}

.hero__btn::after {
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(calc(-50% + 35px));
	content: "";

	width: 24px;
	height: 24px;
	background-image: url(../images/Icon/Send.svg);

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover::after {
	transform: translateY(-12px);
}

/* ________________Advantages________________ */
.advantages-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f5f4fa;
	border-radius: 4px;
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-wrapper:hover {
	transform: scale(1.03);
	box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.17);
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	/* background-color: teal; */
}
.advantages-item:not(:last-child) {
	margin-right: 30px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.advantages-subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--title-color);
	text-transform: uppercase;
}

.advantages-text {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--text-color);
	width: 270px;
	height: 75px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;

	margin-bottom: 50px;
}

/* ________________What we do________________  */

.wwd {
	padding-top: 0;
}

.wwd-list {
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 50px; */
	position: relative;
}

.wwd-item:not(:last-child) {
	margin-right: 30px;
}
/* .wwd-item::before {
	position: absolute;
	content: "";
	background: rgba(47, 48, 58, 0.8);

	width: 370px;
	height: 70px;
	top: 224px;
} */
.wwd-subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}

.text-box {
	position: absolute;
	display: flex;
	background: rgba(47, 48, 58, 0.8);

	width: 370px;
	height: 70px;
	align-items: center;
	justify-content: center;
	bottom: 0;
}
/* ________________Team________________ */

.team {
	background-color: var(--secondary-background-color);
}

/* .team-box {
	/* margin-top: 94px;
	margin-bottom: 94px;
} */

.team-list {
	display: flex;
	flex-wrap: wrap;
}

.team-list-item {
	width: 270px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
	margin-right: 30px;
}
.team-wrapper {
	padding: 30px 0;
}
.team-list-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;

	margin-bottom: 10px;
}

.team-list-job {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
	margin-bottom: 16px;
}

.social {
	display: flex;
	justify-content: center;
	column-gap: 10px;
}
.social-icon {
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	background-color: #2196f3;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: var(--primary-background-color);
}
/* Clients  */

.clints-list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	column-gap: 30px;
	list-style: none;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
	fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
	border-color: var(--accent-color);
}
/* Footer  */

.footer {
	background-color: #2f303a;
	padding: 60px 0;
}
.footer-container {
	display: flex;
	align-items: baseline;
	column-gap: 70px;
}
.footer-addres {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	margin-top: 20px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-link {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-background-color);
}

.footer-list a {
	font-size: 14px;
	line-height: 1.71;
	/* or 171% */

	letter-spacing: 0.03em;
	color: var(--text-color);
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .footer-address {
	color: var(--primary-background-color);
}

.footer-list a:hover,
.footer-list a:focus {
	color: var(--accent-color);
}

.footer-list-item:not(:last-child) {
	margin-bottom: 9px;
}

/* __________присоединяйтесь_________  */
.join-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
	margin-bottom: 20px;
}

.join {
	display: block;
}

.join-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 10px;
}

.join-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
	fill: var(--secondary-background-color);
}

.join-link:hover,
.join-link:focus {
	background-color: var(--accent-color);
}

/*____________________ Подпишитесь на рассылку____________________ */

.mail-chimp {
	margin-left: auto;
}
.mail-chimp-input {
	min-width: 358px;
	height: 50px;
	left: 815px;
	top: 2787px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: #2f303a;
	margin-right: 12px;
	color: white;
	padding-left: 16px;
}

/* .mail-chimp-input::placeholder {
	padding-left: 16px;
} */

.mail-chimp-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: white;
	border-style: none;
	width: 200px;
	height: 50px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}

.icon-send {
	fill: var(--primary-background-color);
	padding-left: 10px;
}

/* ________________Portfolio page________________  */

.filter-list {
	display: flex;
	align-items: center;

	justify-content: center;

	gap: 8px;
}
.portfolio-btn {
	padding: 6px 22px;
	font-family: inherit;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: #212121;

	cursor: pointer;
	border: none;

	background-color: #f5f4fa;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background-color: var(--accent-color);
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-btn {
	background-color: var(--accent-color);
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ________________КАРТОЧКИ ПОРТФОЛИО________________ */
.filter-list {
	margin-bottom: 50px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portfolio-item {
	width: 370px;

	background: #ffffff;
	cursor: pointer;

	position: relative;
}

.border {
	padding: 20px 24px;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;

	letter-spacing: 0.06em;

	color: #212121;
}

.portfolio-text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--text-color);
}

/* ________________АНИМАЦИЯ портфолио________________ */

.portfolio-item-wrapp {
	position: relative;
	overflow: hidden;
}
.portfolio-hover-text {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(33, 150, 243, 0.9);
	padding: 24px;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--primary-background-color);
	display: flex;
	align-items: center;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(100%);
}

.portfolio-item-link {
	display: block;
	/* width: 100%; */
	text-decoration: none;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-hover-text,
.portfolio-item:focus .portfolio-hover-text {
	transform: translateY(0px);
}

/*________________ Modal________________  */
.backdrop {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
	pointer-events: none;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
}

.backdrop.is-hidden .modal {
	opacity: 0;
	pointer-events: none;
	transform: translate(-100%, -50%) rotate(-280deg);
}

.modal {
	padding: 40px;
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);

	min-height: 581px;
	min-width: 528px;
	pointer-events: auto;

	background-color: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close {
	position: absolute;
	top: -10px;
	right: -10px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);

	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	align-items: center;
	cursor: pointer;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close:hover {
	color: var(--accent-color);
	border-color: var(--accent-color);
}
.btn-modal-close svg {
	width: 11px;
	height: 11px;
	fill: currentColor;
}

/* ____________________________Form____________________________ */
.form {
	width: 448px;
	margin-left: auto;
	margin-right: auto;
}

.form-field-title {
	text-align: center;

	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;

	letter-spacing: 0.03em;

	color: #212121;
}

.form-field {
	/* outline: 1px solid blue; */
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}
.form-field-label {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;

	color: #757575;
}
.form-field-input {
	position: relative;

	padding-left: 41px;

	width: 100%;
	outline: transparent;
	height: 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-inner {
	position: relative;
}

.form-field-inner:hover,
.form-field-inner :focus,
.form-field-input:hover,
.form-field-inpu:focus {
	fill: var(--accent-color);
	border-color: #2196f3;
}

.form-field-input:focus + .form-field-icon {
	fill: var(--accent-color);
}

.form-field-icon {
	position: absolute;
	z-index: 344;
	top: 11px;
	left: 11px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
	resize: none;
	height: 120px;
	padding-top: 12px;
	padding-left: 16px;
	padding-top: 12px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
}
.form-field-input::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

/*  _____________checkbox_____________*/

.check {
	display: flex;

	margin-top: 10px;
	cursor: pointer;
}
.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* .checkbox:checked {
	width: 50px;
	height: 50px;
} */
.form-icon {
	display: inline-block;
	border: 2px solid #212121;
	border-radius: 2px;
	margin-right: 8px;
	cursor: pointer;
	transition: transform 250ms linear;
}
.checkbox:checked + .form-icon {
	transform: scale(1.2);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.checkbox-label {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.7;

	letter-spacing: 0.03em;

	color: #757575;
}
.form-link {
	text-decoration-line: underline;

	color: #2196f3;
}

/*  _____________FORM-BTN_____________*/
.form-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	padding: 10px 56px;
	margin-top: 30px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	/* identical to box height, or 188% */

	letter-spacing: 0.06em;
	background: #ffffff;
	border: 1.6px solid #188ce8;
	border-radius: 4px;
	color: var(--accent-color);
	background-color: var(--primary-background-color);

	border-radius: 4px;

	cursor: pointer;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn-icon {
	fill: var(--accent-color);
	margin-left: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover {
	box-shadow: 0px 4px 13px 5px rgba(33, 150, 243, 0.21);
	background-color: #188ce8;
	color: var(--primary-background-color);
}

.form-btn:hover .form-btn-icon,
.form-btn:focus .form-btn-icon {
	fill: var(--primary-background-color);
}
